/* Master Styles */
body {
    margin: 0px;
    font-family: "Lato", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}
/* Nav Styles */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    border-bottom: 2px solid black;
}

.left-side {
    display: flex;
}

.nav > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none; /*gets rid of the ugly default HTML underline*/
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/* Portfolio Styles */
.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    /* border: 2px solid black; */
    width: 100%;
    /* Useful for pictures */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 360px; */
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
} 

.logo img {
    width: 50%; /* Adjustable */
    margin-bottom: 20px;
}

.img-text .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}

/* About Page */

.two-column {
    display: flex;
}

.profile-image img{
    width: 100%;
}

.profile-content {
    padding: 30px;
}

.profile-content h1{
    color: lightseagreen
}

/* Projects Page */

.project {
    display: flex;
    border-bottom: 2px solid black;
}

.description {
    height: 382px;
    overflow: auto;
    padding-left: 10px;
}

.projects > .project > img {
    height: 384px;
    width: 400px;
    border-right: 2px solid black;
}

.feature-list {
    padding: 2px 10px;
    margin-bottom: 10px;
    border-left: 4px solid blue;
    background-color: lightblue;
}

.description > h2 {
    color: blue;
}